/* BURGER MENU */
.header_burger {
	display: none;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.header_burger_bars {
	display: inline-block;
	width: auto;
	margin: 0 auto;
	transition: 0.4s ease;
}

.change .header_burger_bars {
	margin: 10px auto 0 auto;
}

.bar1,
.bar2,
.bar3 {
	height: 5px;
	width: 50px;
	background-color: #fff;
	margin: 10px auto;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-16px, 12px);;
	transform: rotate(-45deg) translate(-16px, 12px);
	background-color: orange;
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
	background-color: orange;
}

.displayflex {
	display: flex !important;
}

@media screen and (max-width: 991px) {
	.header_burger {
		display: block;
	}
}
