.page-footer {
    position: relative;
    background: url("../../images/footer_bg.png") no-repeat center;
    background-size: cover;
    margin: 40px 0 0 0;
    padding: 40px 0 0 0;
    &-title {
        margin-bottom: 40px;
        text-align: center;
        font-family: $font-main-second;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
    }
    &-title-tip {
        position: relative;
        text-align: left;
        margin: 20px auto 40px auto;
        max-width: 600px;
        font-family: $font-main;
        font-size: 20px;
        @include xs-devices {
            text-align: center;
            max-width: 100%;
        }
        @include sm-devices {
            text-align: center;
            max-width: 100%;
        }
        @include md-devices {
            text-align: center;
            max-width: 100%;
        }
    }
}

.page-footer .page-footer-title-tip::before {
    content: "";
    position: absolute;
    top: calc(0% - 5px);
    left: calc(0% - 30px);
    width: 18px;
    height: 15px;
    background: url("../../images/quotes_footer.png") no-repeat;
    @include xs-devices {
        left: calc(0% - 10px);
    }
    @include sm-devices {
        left: calc(0% - 10px);
    }
    @include md-devices {
        left: calc(0% - 10px);
    }
}

.page-footer .page-footer-title-tip::after {
    content: "";
    position: absolute;
    bottom: calc(0% + 5px);
    right: calc(0% - 10px);
    width: 18px;
    height: 15px;
    background: url("../../images/quotes_footer.png") no-repeat;
}

.page-footer-feedback-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 auto;
    @include xs-devices {
        flex-direction: column;
        align-items: center;
    }
    @include sm-devices {
        flex-direction: column;
        align-items: center;
    }
    @include md-devices {
        flex-direction: column;
        align-items: center;
    }

    .input-wrapper {
        padding-left: 0;
        @include xs-devices {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
        }
        @include sm-devices {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
        }
        @include md-devices {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
        }
    }

    .error {
        margin: 3px 0 0 0;
        padding-left: 40px;
        color: red;
        font-size: 12px;
        font-family: $font-main-second;
    }
}

.page-footer-feedback-form input[type="text"],
.page-footer-feedback-form input[type="email"],
.page-footer-feedback-form input[type="tel"] {
    display: inline-block;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    text-align: left;
    font-size: 16px;
    font-family: $font-main-second;
    font-weight: 400;
    text-overflow: ellipsis;
}

.page-footer-feedback-form input[type="text"] {
    background-image: url("../../images/avatarform.png");
    background-repeat: no-repeat;
    background-position: 10px center;
  
}

.page-footer-feedback-form input[type="email"] {
    background-image: url("../../images/mailform.png");
    background-repeat: no-repeat;
    background-position: 10px center;
   
}

.page-footer-feedback-form input[type="tel"] {
    background-image: url("../../images/mobileform.png");
    background-repeat: no-repeat;
    background-position: 10px center;
  
}

.page-footer button {
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-family: $font-main;
    font-size: 18px;
    background: #dc424e;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover,
    &:focus {
        outline: none;
        background: orange;
        transition: 0.2s ease;
    }
}

.footer-bottom {
    margin: 0 auto;
    padding: 30px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    font-family: $font-main;
    @include xs-devices {
        flex-direction: column;
        align-items: center;
    }
    @include sm-devices {
        flex-direction: column;
        align-items: center;
    }
    @include md-devices {
        flex-direction: column;
        align-items: center;
    }
}

.footer-email,
.footer-phone,
.footer-adress {
    position: relative;
    font-size: 16px;
    line-height: 1;
    @include xs-devices {
        text-align: center;
        margin-top: 20px;
        h3 {
            font-size: 26px;
        }
    }
    @include sm-devices {
        text-align: center;
        margin-top: 20px;
        h3 {
            font-size: 26px;
        }
    }
    @include md-devices {
        text-align: center;
        margin-top: 20px;
        h3 {
            font-size: 26px;
        }
    }
    p b {
        color: #665cac;
    }
    a {
        position: relative;
        color: #fff;
        transition: 0.2s;
        &:hover {
            color: orange;
            text-decoration: none;
            transition: 0.2s;
        }
    }
}

.footer-email::before {
    content: "";
    position: absolute;
    top: calc(0px + 15px);
    left: calc(0% - 80px);
    width: 60px;
    height: 50px;
    background: url("../../images/mailfoot.png") no-repeat;
    @include xs-devices {
        top: calc(0px - 15px);
        left: calc(0% - 10px);
    }
    @include sm-devices {
        top: calc(0px - 15px);
        left: calc(0% - 10px);
    }
    @include md-devices {
        top: calc(0px - 15px);
        left: calc(0% - 10px);
    }
}

.footer-phone::before {
    content: "";
    position: absolute;
    top: calc(0px + 15px);
    left: calc(0% - 80px);
    width: 60px;
    height: 60px;
    background: url("../../images/mobfoot.png") no-repeat;
    @include xs-devices {
        top: calc(0px + 5px);
        left: calc(0% - 45px);
    }
    @include sm-devices {
        top: calc(0px + 5px);
        left: calc(0% - 45px);
    }
    @include md-devices {
        top: calc(0px + 5px);
        left: calc(0% - 45px);
    }
}

.footer-adress::before {
    content: "";
    position: absolute;
    top: calc(0px + 15px);
    left: calc(0% - 80px);
    width: 60px;
    height: 60px;
    background: url("../../images/locfoot.png") no-repeat;
    @include xs-devices {
        top: calc(0px + 5px);
        left: calc(0% - 70px);
    }
    @include sm-devices {
        top: calc(0px + 5px);
        left: calc(0% - 70px);
    }
    @include md-devices {
        top: calc(0px + 5px);
        left: calc(0% - 70px);
    }
}
