.hero_screen {
  position: relative;
  text-align: center;
  background: url("../../images/hero_screen_bg.jpg") no-repeat;
  background-size: cover;
  min-height: 500px;
  font-family: $font-main;
  padding: 40px 0 0 0;
  &_title {
    text-transform: uppercase;
    font-size: 41px;
    margin-bottom: 0;
    font-family: inherit;
    @include xs-devices {
      margin-bottom: 20px;
    }
  }
  &_title_description {
    font-size: 22px;
    white-space: pre-line;
    font-family: $font-main;
    @include xs-devices {
      white-space: normal;
    }
  }
}

.hero_screen_bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button.to-feedback-form {
  position: relative;
  display: inline-block;
  min-width: 400px;
  min-height: 60px;
  margin-top: 50px;
  margin-bottom: 60px;
  font: 18px $font-main;
  text-align: center;
  background-color: #d64851;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 46px;
  transition: 0.2s;
  cursor: pointer;
  @include xs-devices {
    min-width: 290px;
  }
  &:hover {
    background: orange;
    color: #fff;
    transition: 0.2s;
  }
}

#mouse {
  max-width: 100%;
  height: auto;
}

.to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  border: transparent;
  border-radius: 50%;
  padding: 30px;
  background: url("../../images/topArrow.png") #253c68 no-repeat center;
  transition: 0.2s;
  cursor: pointer;
  z-index: 999;
  &:hover,
  &:focus {
    background: url("../../images/topArrow.png") orange no-repeat center;
    transition: 0.2s;
  }
}
