.portfolio {
    position: relative;

    &-title {
        margin: 0 0 40px 0;
        text-align: center;
        font-family: $font-main-second;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        color: #253c68;
        strong {
            font-weight: 700;
        }
        @include xs-devices {
            margin: 0 0 40px 0;
        }
        @include sm-devices {
            margin: 0 0 40px 0;
        }
        @include md-devices {
            margin: 0 0 40px 0;
        }
    }

    .portfolio-images-group_container {
        overflow: hidden;
        margin: 0;
    }
}

.portfolio-images-group,
.portfolio-images-group2,
.portfolio-images-group3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 40px 0;
    width: 100%;
    align-items: flex-start;
    max-height: 256px;
    overflow: hidden;
    @include xs-devices {
        flex-direction: column;
        align-items: center;
        max-height: initial;
        margin: 0;
    }
    @include sm-devices {
        flex-direction: column;
        align-items: center;
        max-height: initial;
        margin: 0;
    }
}

.portfolio-images-group2,
.portfolio-images-group3 {
    display: none;
}

.portfolio-images-group3 {
    margin: 0;
}

.portfolio-images-group a,
.portfolio-images-group2 a,
.portfolio-images-group3 a {
    text-decoration: none;
    overflow: hidden;

    @include xs-devices {
        max-height: 256px;
        margin: 0 0 40px 0;
    }
    @include sm-devices {
        max-height: 256px;
        margin: 0 0 40px 0;
    }
    @include md-devices {
        min-height: 150px;
        max-height: 150px;
    }
    @include lg-devices {
        min-height: 210px;
        max-height: 210px;
    }
}

.portfolio-images-group a > img,
.portfolio-images-group2 a > img,
.portfolio-images-group3 a > img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
    box-shadow: 4px 4px 30px 0 rgba(209, 209, 209, 0.2);
}

a.show_more_portfolio {
    display: block;
    text-align: center;
    color: orange;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-main-second;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
    &:hover,
    &:focus {
        transition: 0.4s;
        opacity: 0.7;
        transform: translateX(10px);
        color: orange;
    }
}
