<% var data = {
    title: "Алмазное сверление"
  }; %>
  <%= _.template(require('./../includes/head.html').default)(data) %>
  <body class="noselect">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N42JS92"
       height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <%= _.template(require('./../includes/hero-screen.html').default)(data) %>
    <%= _.template(require('./../includes/about-us.html').default)(data) %>
    <%= _.template(require('./../includes/our_benefits.html').default)(data) %>
    <%= _.template(require('./../includes/diamond-drilling-benefits.html').default)(data) %>
    <%= _.template(require('./../includes/prices.html').default)(data) %>
    <%= _.template(require('./../includes/order-procedure.html').default)(data) %>
    <%= _.template(require('./../includes/portfolio.html').default)(data) %>
    <%= _.template(require('./../includes/clients.html').default)(data) %>
    <%= _.template(require('./../includes/footer.html').default)(data) %>
    <%= _.template(require('./../includes/forms/form.html').default)(data) %>
    <span class="to-top animated fadeInDown fast"></span>
    <%= _.template(require('./../includes/page_end.html').default)(data) %>